html > body{
    background: @baseColor;
    font-family: @FontFamily;
    font-size: @FontSize;
    color: @Color;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
    
    header{
        background:red;

        .topbar{
            background-color: @topbarColor;
            height: @topbarHeight;
            
            .topbarl{
                list-style-type: none; 
            }
            .topbarl-left{ float:left; }
            .topbarl-right{ float:right; }
            
            .topbarl-social{
                list-style-type: none; 
                
                li{
                    float: right;
                    width: @topbarHeight;
                    height: @topbarHeight;
                    position: relative;
                    display: block;
                    margin-left: 2px;
                    
                    
                    a{
                        color: @baseColor;
                        line-height: @topbarHeight;
                        height: @topbarHeight;
                        text-align: center;
                        padding: 0px;
                        
                        :hover{ color: @topbarHoverColor; background-color: @topbarColor; }
                        
                        .fa{
                            width: @topbarHeight;
                            line-height: inherit;
                        }
                    }
                }
            }
        }
        
        
    }
    
}